---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import "../styles/global.css";

const posts = await getCollection("essays");

const pageTitle = "index";
---

<BaseLayout pageTitle={pageTitle}>
  <a href="/">Home</a>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/essays/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
