---
import { getCollection } from "astro:content";
import "../styles/global.css";

const posts = await getCollection("essays");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/essays/${post.id}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
